

.playlist-template {
    border: 1px solid var(--white-color);
    display: flex;
    width: 15rem;
    height: 5rem;
    margin: 8px;
    margin-left: 1rem;
    justify-content: space-between;
    padding: 8px;
   
    
}

.icon__img {
    height: 2rem;
}

.playlist--title {
    font-size: large;
    font-weight: bold;
}

.playlist-video-count {
    font-size: medium;
    
}