

/* css for project starts from here */
::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }  

  ::-webkit-scrollbar-thumb {
    background: var(--secondary-bg-dark-color); 
  }


.videoCard-container {
    grid-area: videoCardCont;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: scroll;
}

.flex-center {
  justify-content: center;
}



