@import url("https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
:root {
  --primary-bg-dark-color: #18181b ;
  --secondary-bg-dark-color: #9ca3af ;
  --login-color: rgb(5, 5, 233);
  --white-color: white;
  --btn-create-color: rgb(186, 36, 36) ;
  --modal-body-bg-color: #303030;
  --text-color: white;

  /* --primary-bg-dark-color: white ;
  --secondary-bg-dark-color: black ;
  --login-color: rgb(5, 5, 233);
  --white-color: white;
  --btn-create-color: rgb(186, 36, 36) ;
  --modal-body-bg-color: #303030;
  --text-color: black; */
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
  box-sizing: border-box;
  text-align: center;
  box-sizing: border-box;
 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
box-sizing: border-box;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

.app-container {
  height: 100vh;
  display: grid;
  grid-template-areas: "navbar navbar"
                       "sidebar mainbar";
 grid-template-columns: 15rem 1fr;
 grid-template-rows: 4rem 1fr;
 background-color: var(--primary-bg-dark-color);
 color: var(--text-color);
}

.app-container_hideMenu {
  grid-template-areas:
        "navbar"
        "mainbar";
    grid-template-columns: 1fr;
}

.mainbar {
  grid-area: mainbar;
  overflow-y: scroll;
  display: grid;
  grid-template-areas: 'chipCont'
                        'videoCardCont';
  grid-template-rows: 4rem 1fr;                      
}

.sub-container {
  grid-area: chipCont;
  border: 1px solid var(--secondary-bg-dark-color);
  overflow-y: scroll;
  display: flex;
  align-items: center;
  white-space: nowrap ;
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start;
}

